#include "resource.h"
#include <windows.h>



//
// String Table resources
//
STRINGTABLE
BEGIN
    LP_LastPass          "Last Pass"
    LP_ExportEntries     "Export Passwords"
    LP_ImportEntries     "Import Passwords"
    LP_ExpungeFile       "Expunge File"
    XL_Menu4             ""
    LP_ToggleDelState    "Delete Import File"
    LP_RemoveReduntantPW "Remove Redundant Passwords"
    LP_About             "About..."
    LP_Test              "Test Stuff"

    XL_ABOUT  "Last Pass Import/Export Plugin\nVersion 1.8.0 by Bob -- K6RWY"
END


// Version Information resources

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,8,0,0
    PRODUCTVERSION  1,8,0,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Bob -- K6RWY"
            VALUE "FileDescription", "Last Pass Export plugin for KeePass"
            VALUE "FileVersion", "1.8.0"
            VALUE "InternalName", "Last Pass Export"
            VALUE "LegalCopyright", "Bob -- K6RWY"
            VALUE "OriginalFilename", "LastPass.dll"
            VALUE "ProductName", "KeePass Plugin"
            VALUE "ProductVersion", "1.8.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 1033, 1200
    END
END

