<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="E4B33AD1-E88F-4AF5-BF88-DA9B628977AD" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="KeePass"
         Version="!(bind.fileVersion.KeePass.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs KeePass"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="PwSafeIcon.ico" SourceFile="$(var.SolutionDir)..\WinGUI\res\PwSafe.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="PwSafeIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="KeePass.ftr"/>
    <ComponentGroupRef Id="PlugIns.ftr"/>
    <ComponentGroupRef Id="UninstallKeePass.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="KeePass.ftr">
  <ComponentRef Id="KeePass.cmp"/>
  <ComponentRef Id="KeePassLib.cmp"/>
</ComponentGroup>
<ComponentGroup Id="PlugIns.ftr">
  <ComponentRef Id="LastPass.cmp"/>
  <ComponentRef Id="EnglishPL.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallKeePass.ftr">
  <ComponentRef Id="UninstallKeePass.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="KeePass.pff" Name="KeePass" />
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="KeePass.pmf" Name="KeePass" />
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="KeePass" />
  <Property Id="WIXUI_INSTALLDIR"      Value="KeePass.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="KeePass.cmp"  Guid="219C5BD5-758C-4CF0-A50C-A49DD9450E89" Directory="KeePass.pff">
    <File Id="KeePass.cmp" Source="$(var.SolutionDir)..\Release\KeePass.exe" KeyPath="yes"/>

    <Shortcut Id               = "KeePass.shc"
              Name             = "KeePass"
              Description      = "Password Manager"
              Advertise        = "yes"
              Directory        = "KeePass.pmf"
              WorkingDirectory = "KeePass.pff"
              Icon             = "PwSafeIcon.ico"
              />

    <Shortcut Id               = "KeePass.dsk"
              Name             = "KeePass"
              Description      = "Password Manager"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "KeePass.pff"
              Icon             = "PwSafeIcon.ico"
              />
  </Component>

  <Component Id="KeePassLib.cmp"  Guid="91157E1C-C077-4F31-B2AE-AEA31675482F" Directory="KeePass.pff">
    <File Id="KeePassLib.cmp" Source="$(var.SolutionDir)..\Release\KeePassLibC.dll" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="LastPass.cmp"  Guid="AC6D8794-DD18-4F91-B05A-92AA7CCD2AB3" Directory="KeePass.pff">
    <File Id="LastPass.cmp" Source="$(var.SolutionDir)..\Release\Plugins\LastPass.dll" KeyPath="yes"/>
  </Component>

  <Component Id="EnglishPL.cmp"  Guid="5C88466F-4740-46F0-A07D-657BC61793FD" Directory="KeePass.pff">
    <File Id="EnglishPL.cmp"
                  Source="$(var.SolutionDir)..\Release\Plugins\English_LastPass.plng" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallKeePass.cmp" 
                                  Guid="83C9462D-DA8F-427B-B84A-C12E6EF0DAD1" Directory="KeePass.pmf">

    <Shortcut Id               = "UninstallKeePass.shc"
              Name             = "Uninstall KeePass"
              Description      = "Uninstalls KeePass"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "PwSafeIcon.ico"
              />
    <RemoveFolder Id="KeePass.uni" Directory="KeePass.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallKeePass.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
